---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components/Hero';
import { Features } from '../components/Features';
import { InfiniteMarquee } from '../components/InfiniteMarquee';
import { Screenshots } from '../components/Screenshots';
import { DeepDive } from '../components/DeepDive';
import { Testimonials } from '../components/Testimonials';
import { CTA } from '../components/CTA';
import { Navbar } from '../components/Navbar';
import { Footer } from '../components/Footer';
---

<Layout title="UfrenClaw - Modern AI Workspace">
	<main>
		<Navbar client:load />
		<Hero client:load />
		<InfiniteMarquee client:visible />
		<Features client:visible />
		<Screenshots client:visible />
		<DeepDive client:visible />
		<Testimonials client:visible />
		<CTA client:visible />
	</main>
	<Footer client:load />
</Layout>
